
h1{
    color:aqua;
}




html, body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto' , sans-serif;
    background-image: url("colorful-doodle-art-vibrant-collection-fun-playful-drawings_1300528-15364.jpg");
    background-size: cover;
    

}


.button{
    padding: 20px;
    margin: 0 3px;
    width: 66px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
}

.row {
    margin: 8px 0;
}

.row input {
    font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
    width: 291px;
}


.boxbox {

    width: 500x;
    /* height: 500px; */

    /* background-image: url/("skybluecolor.jpg"); */
    /* border-radius: 5%; */
    /* border-color: aqua; */
    /* padding: 50%; */
    



}





